requests
beautifulsoup4
pandas
jieba
nltk
tensorflow
scikit-learn
matplotlib
configparser
wordcloud
keras
transformers
torch
datasets
faiss-gpu
sentence-transformers
evaluate
rouge_score
seaborn
matplotlib